<?xml version="1.0"?>
<robot name="cuboid_bot">

  <link name="base_link">
    <visual>
      <geometry><box size="0.5 0.3 0.2"/></geometry>
    </visual>
    <collision>
      <geometry><box size="0.5 0.3 0.2"/></geometry>
    </collision>
    <inertial>
      <mass value="2"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <link name="lidar_link">
    <visual>
      <geometry><cylinder radius="0.05" length="0.05"/></geometry>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.15"/>
  </joint>

  <!-- Gazebo LiDAR -->
  <gazebo reference="lidar_link">
    <sensor type="ray" name="lidar">
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>10</max>
        </range>
      </ray>

      <plugin name="gazebo_ros_laser" filename="libgazebo_ros_ray_sensor.so">
        <topic_name>/scan</topic_name>
      </plugin>
    </sensor>
  </gazebo>

  <!-- planar motion plugin -->
  <gazebo>
    <plugin name="planar_move" filename="libgazebo_ros_planar_move.so">
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>
    </plugin>
  </gazebo>

</robot>
